@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

section {
  padding-top: 2rem;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.player-outer {
  width: 75vw;
  display: grid;
  align-content: center;
}

.player {
  width: 100%;
  height: 35vw;
  background-color: red;
  clip-path: polygon(0 0, calc(100% - 10vw) 0, 100% 10vw, 100% 100%, 0 100%);

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin-inline: 1rem;
    color: #fff;
    font-size: 1.8rem;
  }
}

.player-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.button-outer {
  width: 100%;
  display: flex;
  align-items: center;
}

.button {
  min-width: 4rem;
  min-height: 4rem;
  border-radius: 50%;
  background-color: red;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 1rem;
  span {
    color: #fff;
    font-size: 1.6rem;
  }
}

.resolutions {
  position: absolute;
  bottom: 1rem;

  width: 100%;
  display: flex;
  justify-content: space-around;

  div {
    font-size: 1.4rem;
    width: fit-content;
    height: fit-content;
    background: #fff;
    color: red;
    padding: 0 1rem;
  }
}
